dist: trusty
sudo: required
language: go
go:
  - 1.13.x
git:
  depth: 1
install: true
notifications:
  email: false
before_script:
  - curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $GOPATH/bin v1.25.1
before_install:
  - mkdir solr-8.5.1 && pushd solr-8.5.1
  - wget http://archive.apache.org/dist/lucene/solr/8.5.1/solr-8.5.1.tgz
  - tar xzf solr-8.5.1.tgz && ./solr-8.5.1/bin/solr -c -e schemaless
  - cd ..
  - curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $GOPATH/bin v1.25.1
script:
  - go test -v -race ./...